.App {
  text-align: center;
}

.changebtn {
  width: 30px;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: 600;
  border-radius: 3px;
  margin-right: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.alertRedbox {
  background-color: red;
  border-radius: 2px;
  width: 50%;
  margin-left: 25%;
  color: white;
  font-size: 10;
}

.start {
  opacity: 0;
  margin-bottom: 100px;
}

.end {
  opacity: 1;
  transition: 1s;
}

.orderBtn {
  margin-bottom: 30px;
}

.modalBtn {
  padding: 10px;
  margin-bottom: 100px;
  background-color: grey;
  color: white;
  border-radius: 5px;
  border-width: 2px;
  margin-right: 5px;
  width: 200px;
}

.cart-table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 90%;
  table-layout: fixed;
}

.inputbox {
  border-radius: 1px;
  border-color: red;
}

.pos-center {
  display: flex;
  width: 60%;
  margin-left: 20%;
}

.main-big {
  height: 600px;
  background-image: url('./image/bg.jpg');
  background-size: cover;
  background-position: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}